@import './globals.less';

@addon: 'volto-tableau';
@addontype: 'tableauBlock';
@addonelement: 'tableau';

.loadAddonVariables();

.tableau-block {
  .tableau-info {
    h3.tableau-version {
      margin-right: 0.5rem;
      color: @tableauTitleColor;
    }

    p.tableau-error {
      color: @tableauErrorColor;
      font-weight: bold;
    }
  }

  .tableau-scale {
    overflow: auto !important;
    width: 100% !important;
    padding: 0 !important;

    iframe {
      width: 1000px !important;
      height: 4000px !important;
      border: 0px !important;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      iframe {
        zoom: 1;
      }
    }
  }

  h3.tableau-title {
    margin: @tableauTitleMargin;
    color: @tableauTitleColor;
  }

  p.tableau-description {
    margin: @tableauDescriptionMargin;
    color: @tableauDescriptionColor;
  }

  .tableau iframe {
    width: @tableauIframeWidth;
    min-width: @tableauMinWidth;
    padding: @tableauIframePadding;
    border: @tableauIframeBorder;
    margin: @tableauIframeMargin;
    border-radius: @tableauIframeBorderRadius;
  }
}

.loadAddonOverrides();
